<footer id="footer">
    <div class="container">

        <div class="row">
            <div class="col-md-3 col-sm-6 margin30">
                <div class="footer-col">
                    <h3>About Bugsters</h3>
                    <p><strong>
                        Bugsters is a result-based crowdtesting platform which allow crowdusers to bust company mobileApp, SaaS, IoT products. Comapnies and users pay and get paid based on the result, bug which the users find.
                    </p>
                    <ul class="list-inline social-1">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-weixin"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div><!--footer col-->
            <div class="col-md-3 col-sm-6 margin30">
                <div class="footer-col">
                    <h3>Contact</h3>

                    <ul class="list-unstyled contact">
                        <li><p><strong><i class="fa fa-map-marker"></i> Address:</strong>11 Rawson Place, Sydney, 2000</p></li>
                        <li><p><strong><i class="fa fa-envelope"></i> Mail Us:</strong> <a href="#">Support@Bugsters.com</a></p></li>
                        <li><p><strong><i class="fa fa-phone"></i> Phone:</strong> +61 49 766 7525</p></li>
                        <li><p><strong><i class="fa fa-print"></i> Fax</strong> 1800 2345 2132</p></li>
                        <li><p><strong><i class="fa fa-skype"></i> Skype</strong> gaolove713</p></li>

                    </ul>
                </div>
            </div><!--footer col-->
            <div class="col-md-3 col-sm-6 margin30">
                <div class="footer-col">
                    <h3>Featured Work</h3>
                    <ul class="list-inline f2-work">
                        <li><a href="portfolio-single.html"><img src="<%= asset_path "img-1.jpg" %>" class="img-responsive" alt=""></a></li>
                        <li><a href="portfolio-single.html"><img src="<%= asset_path "img-2.jpg" %>" class="img-responsive" alt=""></a></li>
                        <li><a href="portfolio-single.html"><img src="<%= asset_path "img-3.jpg" %>" class="img-responsive" alt=""></a></li>
                        <li><a href="portfolio-single.html"><img src="<%= asset_path "img-4.jpg" %>" class="img-responsive" alt=""></a></li>
                        <li><a href="portfolio-single.html"><img src="<%= asset_path "img-5.jpg" %>" class="img-responsive" alt=""></a></li>
                        <li><a href="portfolio-single.html"><img src="<%= asset_path "img-6.jpg" %>" class="img-responsive" alt=""></a></li>
                        <li><a href="portfolio-single.html"><img src="<%= asset_path "img-7.jpg" %>" class="img-responsive" alt=""></a></li>
                        <li><a href="portfolio-single.html"><img src="<%= asset_path "img-8.jpg" %>" class="img-responsive" alt=""></a></li>
                        <li><a href="portfolio-single.html"><img src="<%= asset_path "img-9.jpg" %>" class="img-responsive" alt=""></a></li>
                    </ul>
                </div>
            </div><!--footer col-->
            <div class="col-md-3 col-sm-6 margin30">
                <div class="footer-col">
                    <h3>Newsletter</h3>
                    <p>
                        Leave your email, you will receive our newsletters about the latest products and technology.
                    </p>
                    <form role="form" class="subscribe-form">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Enter email to subscribe">
                            <span class="input-group-btn">
                                <button class="btn  btn-theme-dark btn-lg" type="submit">Ok</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div><!--footer col-->

        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="footer-btm" style="color: #858d91">
                    <span>&copy;2015. Bugsters. All rights reserved.</span>
                </div>
            </div>
        </div>

    </div>
</footer><!--default footer end here-->
