<!DOCTYPE html>
<html>
<head>
  <title>Bugsters</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if content_for? :nav %>
<%= content_for :nav %>
<% else %>
<%= render 'layouts/navbar' %>
<% end %>

<%= yield %>

<% if content_for? :nav %>
<%= content_for :nav %>
<% else %>
<%= render 'layouts/footer' %>
<% end %>

</body>
</html>
