<!DOCTYPE html>
<html>
<head>
  <title>Bugsters</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- 12-11-2015 Cat Add link for awesome font not working on heroku and fixed-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <!-- End of Cat Add link for awesome font not working on heroku-->
</head>
<body>

<% if content_for? :nav %>
<%= content_for :nav %>
<% else %>
<%= render 'layouts/navbar' %>
<% end %>

<%= yield %>

<% if content_for? :nav %>
<%= content_for :nav %>
<% else %>
<%= render 'layouts/footer' %>
<% end %>

</body>
</html>
